#cardRegister {
    background-color: #e3e4f6;
    width: 70%;
    height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:30px;
    position: absolute;
    top:30%;
    left: 15%;
    border-width: 3pt;
    border-color: rgb(13, 13, 88);
    overflow: auto;
}

.container {
    padding: 0px;
}
#loginButton {
    width: 60%;
    float: right;
    border-color: rgb(11, 11, 92);
    color: rgb(11, 11, 92);
}

#loginButton:hover {
    background-color: rgb(11, 11, 92);
    color: white;
    border-color: rgb(11, 11, 92);
}

.editBut {
    width: 35%;
}
