html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(180deg, #0b0b5c, rgb(123, 123, 172));
    background-attachment: fixed;
}

#Bar {
    height: 100px;
    background-color: rgb(221, 222, 243);
    padding: 0%;
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
    float: right;
}

#leftLogo {
    width: 150px;
    float: left;
}

#webLogo {
    height: 100px;
    float: right;
    border-width: 5pt;
    border-color: black;
}
.logoWrap {
    padding-right: 0;
}